@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f6f6f6;
}

header {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 999;
    background-image: linear-gradient(to right, #143180, #1a233b);
}

.top-above-rectangle {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, #6b1e1e, #f88e34);
}

.LSPUlogo, .CCSlogo {
    position: absolute; 
    top: 10px; 
    width: 50px;
    height: 50px;
}

.LSPUlogo {
    left: 20px; 
}

.CCSlogo {
    left: 75px; 
}

.LSPUlogo img, .CCSlogo img {
    width: 100%;
    height: auto;
}

.LSPU-LB {
    padding-left: 140px; /* Keep this to position next to the logos */
    padding-top: 0px; /* Reduce the padding to move it higher */
    margin-top: 5px; /* Add a negative margin to lift it up further */
}

.LSPU-LB h1 {
    color: #ffffff;
    font-size: 20px;
}

.LSPU-LB h2 {
    color: #ffffff;
    font-size: 17px;
}

.top-next-rectangle {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, #6b1e1e, #f88e34);
}

nav {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(128, 128, 128, 0.5);
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 65px;
    list-style: none;
    margin-left: auto;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 20px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #f0f0f0;
}

.sidebar{
    position: fixed;
    top: 75px;
    right: 0;
    height: 50vh;
    width: 250px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.272);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(128, 128, 128, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebarli{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
    margin-left: auto;
}

@media(max-width: 800px){
    .hideOnMobile{
     display: none;
    }
    .menu-button{
        display: block;
        position: absolute;
        right: 15px;
    }
}
@media(max-width: 400px){
    .sidebar{
     width: 100%;
    }
}
