@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f6f6f6;
}

.top-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.top-above-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, #6b1e1e, #f88e34);
    z-index: 1000;
}

.top-rectangle {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, #143180, #1a233b);
    z-index: 999;
}

.LSPUlogo, .CCSlogo {
    position: absolute; 
    top: 10px; 
    z-index: 1001; 
    width: 50px;
    height: 50px;
}

.LSPUlogo {
    left: 20px; 
}

.CCSlogo {
    left: 75px; 
}

.LSPUlogo img, .CCSlogo img {
    width: 100%;
    height: auto;
}

.LSPU-LB h1 {
    color: #ffffff; 
    text-align: left; 
    margin: 5px; 
    position: absolute; 
    z-index: 1001; 
    font-size: 20px;
    left: 125px; 
    top: 5px; 
}

.LSPU-LB h2 {
    color: #ffffff; 
    text-align: left; 
    margin: 5px; 
    position: absolute; 
    z-index: 1001; 
    font-size: 17px;
    left: 125px; 
    top: 30px; 
}

.top-next-rectangle {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, #6b1e1e, #f88e34);
    z-index: 1000;
}

.lower-rectangle {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: 0 2px 7px rgba(128, 128, 128, 0.5); 
}

.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 250px; /* Set a fixed width for the sidebar */
    height: calc(100% - 70px); /* Adjust height to fit below the top bars */
    background-color: #ffffff; 
    transition: 0.5s;
    overflow-x: hidden; 
    padding-top: 10px; 
    z-index: 1001; 
}

.sidebar a {
    padding: 10px 15px; 
    text-decoration: none; 
    font-size: 10px; 
    color: #818181; /* Change link color */
    display: block; 
    transition: 0.3s;
}

.closebtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #f1f1f1;
    padding: 10px;
    border: 0;
}

.openbtn {
    font-size: 10px;
    cursor: pointer;
    background-color: #111;
    color: #ffffff;
    padding: 10px;
    border: none;
}

.sidebar a:hover {
    font-size: 1.6em;
    font-weight: bold;
    color: red;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.openbtn:hover {
    background-color: #444;
}

/* Style for the main content area */
#main {
    transition: margin-left 0.5s; 
    padding: 16px;
    margin-left: 250px; /* Add margin to the left to accommodate the sidebar */
}
